<!--Template for all Sections -->

<div class="container" id="about-me">
    <div class="section-heading">
        About Me
        <hr>
    </div>
    <div class="section-content">
        <!-- Section's Independant Content Goes Here -->
        <p>
            Panggilan Darah (Call of Blood) is a film from the Dutch East Indies (now Indonesia) written and directed by Sutan Usman Karim and produced by Tjho Seng Han for Oriental Film. Released on 30 June 1941, the black-and-white film starred Dhalia and Soerip
            as orphaned sisters trying to make a living in the colonial capital of Batavia (now Jakarta) as housemaids for a man named Iskak, before moving to Kudus to work at a clove cigarette factory. They later discover that they are Iskak's nieces,
            and are welcomed into his home. Panggilan Darah, shot on location at an orphanage and two factories in central Java, was a modest commercial success in the Indies and Singapore. The acting drew critical praise, and the soundtrack, with nine
            kroncong songs, was mentioned favorably. Despite this success, Oriental was unable to meet its expenses, and merged into Multi Film soon afterwards.
        </p>
        <!-- End of Independant Content -->
        <div class="info-links">
            <a href="" routerLink="/profile" title="More About Me" data-toggle="tooltip"><i class="fa fa-user fa-big fa-box"></i></a>
            <a href="" routerLink="/education" title="Education"><i class="fa fa-graduation-cap fa-big fa-box"></i></a>
            <a href="" title="Projects"><i class="fa fa-code fa-big fa-box"></i></a>
            <a href="" title="Work Experience"><i class="fa fa-briefcase fa-big fa-box"></i></a>
        </div>
    </div>
</div>