<!--Template for all Sections -->

<div class="container" id="about-me">
    <div class="section-heading">
        About Me
        <hr>
    </div>
    <div class="section-content">
        <!-- Section's Independant Content Goes Here -->
        <p>
          <!-- About me Content is supposed to go here -->
        </p>
        <!-- End of Independant Content -->
        <div class="info-links">
            <a href="" routerLink="/profile" title="More About Me" data-toggle="tooltip"><i class="fa fa-user fa-big fa-box"></i></a>
            <a href="" routerLink="/education" title="Education"><i class="fa fa-graduation-cap fa-big fa-box"></i></a>
            <a href="" title="Projects"><i class="fa fa-code fa-big fa-box"></i></a>
            <a href="" title="Work Experience"><i class="fa fa-briefcase fa-big fa-box"></i></a>
        </div>
    </div>
</div>
