<div class="container">
    <div class="page">
        <div class="page-heading">
            Adarsh Honawad
            <hr class="page-hr">
        </div>
        <div class="page-section">
            <p>
                I am an enthusiastic developer who just enjoys making some small helpful piece of software hoping to one day make something big out of all of them. I spend most of my time on the computer, either browsing the web for recent technologies and cool stuff
                or learning new things or just playing 8 ball pool on miniclip (open for a challenge anytime, find me on miniclip).
                <br> My interest in Computer Science isn't yet limited to a specific field. I am still open to all upcoming fields in computer science and have been trying out most of them. I have developed a few sites using different frameworks like
                django, Angular, plain HTML/JS/PHP, have used databases like MySQL, MongoDB, SQLite etc etc. You can find all this information in my portfolio below or check out my projects page for more details.
            </p>
        </div>
        <div class="page-section">
            <div class="page-section-heading">
                Personal
            </div>
            <div class="page-section-content">
                <p>
                    Born in Karnataka, India on 23<sup>rd</sup> November 1997, I studied in a place called Gadag till my 1<sup>st</sup> Standard. I then moved out of India to Singapore to continue my education there till 10<sup>th</sup>. Having been interested
                    in continuing my education in India since before, we moved back to Bangalore in 2013, to continue my 11<sup>th</sup> and 12<sup>th</sup> Standard. I have been staying in Bangalore ever since and currently am studying Computer Science
                    Engineering in National Institue of Technology, Surathkal (NITK).
                </p>
            </div>
        </div>
        <div class="page-section">
            <div class="page-section-heading">
                Hobbies and Interests
            </div>
            <div class="page-section-content">
                <p>
                    I enjoy reading books (though I barely get time to), watching movies and TV shows. I have no preference over Bollywood or Hollywood, a good movie is just a good movie. Some of my favorite are The Dark Knight series, Pirates of the Carribean and Lord of
                    the Rings. Among TV shows my favorites are (without doubt) <img src="../assets/img/got_small.png" style="display:inline">, <img src="../assets/img/sherlock_small.jpg" style="display:inline;">, <img src="../assets/img/suits_small.jpg"
                        style="display:inline;">, <img src="../assets/img/siliconvalley_small.jpg" style="display:inline;">,
                    <img src="../assets/img/friends_small.png" style="display:inline"> and <img src="../assets/img/daredevil_small.jpg" style="display:inline">. If you haven't watched these, then make sure to catch them, they are all just amazing!
                    <br> Coming back to books, one of my favorite author is Anthony Horowitz. His Alex Rider series and the Power of Five series are really good. For those who love some detective series or just plain superpower fun, do catch these two
                    series.
                </p>
            </div>
        </div>
        <div class="page-section">
            <div class="page-section-heading">
                Achievements
            </div>
            <div class="page-section-content">
                <ul>
                    <li>Qualified for KVPY Scholarship in 2015</li>
                    <li>Scored 96% in CBSE XII Boards</li>
                    <li>Received Medals in IMO and NCO for achievement in State and International Ranks for two consecutive years in 2013 and 2014.</li>
                    <li>Scored 10 CGPA in CBSE-i X Boards</li>
                </ul>
            </div>
        </div>
    </div>
</div>