<div class="container">
    <div class="page">
        <div class="page-heading">
            Education
            <hr class="page-hr">
        </div>
        <div class="page-section">
            <div class="page-section-heading">
                National Institute of Technology Karnataka, Surathkal (NITK) - CSE
            </div>
            <div class="page-section-content">
                <p>
                    I am currently in my 5<sup>th</sup> Semester of Computer Science Engineering (CSE) at NITK. Over the past few years, I have learnt a lot in college, starting with living independently, making new friends from all over India and even
                    from other countries, the various cultures of India, sleeping late at night as well as waking up late and running to class and so much more. Right now, still can't believe that already two years have passed. I still remember the first
                    day I entered this college and my first time in a hostel. Anyways two more years to go and its time to make the most of it.
                </p>
                <div class="page-section-subheading">
                    CGPA : 9.14 <br> SGPA (I, II, III, IV) : 9.24 | 9.4 | 8.82 | 9.15
                </div>
                <div class="page-section-subheading">
                    Courses Completed:
                </div>
                <div class="page-section-content">
                    <small>Ordered by Most Recent and Most Relevant</small>
                    <ul>
                        <li>Operating Systems Concepts</li>
                        <li>Data Communications</li>
                        <li>Design and Analysis of Algorithms</li>
                        <li>Object Oriented Programming in C++</li>
                        <li>Software Engineering</li>
                        <li>Data Structures and Algorithms</li>
                        <li>Theory of Computation</li>
                        <li>Computer Organisation and Architecture</li>
                        <li>Design of Digital Systems</li>
                        <li>Concrete Mathematics</li>
                        <li>Physics</li>
                        <li>Chemistry</li>
                        <li>Elements of Mechanical Engineering</li>
                        <li>Applied Mechanics</li>
                        <li>Engineering Mathematics - I</li>
                        <li>Engineering Mathematics - II</li>
                        <li>Computer Programming in C</li>
                        <li>Engineering Drawing</li>
                        <li>Professional Communication</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="page-section-heading">
                Sri Kumarans Children's Home - CBSE (SKCH CBSE, Bangalore) - XI-XII
            </div>
            <div class="page-section-content">
                <p>
                    I studied 11<sup>th</sup> and 12<sup>th</sup> Standard over here. It was my first time in Bangalore and took me some time to get adjusted to, but I ended liking the college and the friends I made over here. SKCH taught me a lot of
                    stuff, but mainly it taught me how to be a good human being (Not Boasting!).
                </p>
                <div class="page-section-subheading">
                    CBSE XII Boards: 96%
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="page-section-heading">
                Global Indian International School, Singapore (GIIS) - II-X
            </div>
            <div class="page-section-content">
                <p>
                    I have studied in this school for a major part of my educational life. I have literally grown along with this school. I joined this school when it opened up in Singapore and offered CBSE syllabus and grew up as the school itself grew to over 20 campuses
                    worldwide. I had many great moments in this school and formed friends whom I wouldn't forget. I thank this school for giving me a good foundation from the beginning.
                </p>
                <div class="page-section-subheading">
                    CBSE-i X Boards: 10 CGPA
                </div>
            </div>
        </div>
    </div>
</div>