<nav class="navbar navbar-default" id="navbar-head">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a href="" routerLink="home"><i class="fa fa-home fa-top"></i></a></li>
            <li routerLinkActive="active"><a href="#" routerLink="profile" title="Profile"><i class="fa fa-user fa-top"></i></a></li>
            <li routerLinkActive="active"><a href="#" routerLink="education" title="Education"><i class="fa fa-graduation-cap fa-top"></i></a></li>
            <li routerLinkActive="active"><a href="#" routerLink="projects" title="Projects"><i class="fa fa-code fa-top"></i></a></li>
            <li routerLinkActive="active"><a href="#" routerLink="experience" title="Work Experience"><i class="fa fa-briefcase fa-top"></i></a></li>
        </ul>
    </div>
</nav>