#home-head {
    background-image: url('../../assets/background.jpg');
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    text-align: center;
}

.home-img {
    border-radius: 50%;
    margin: 10px;
}

.home-heading {
    background: rgba(0, 0, 0, 0.2);
    width: fit-content;
    margin: 0 auto;
    padding: 15px;
    color: white;
    font-size: 24px;
    margin-bottom: 40px;
}

.home-heading:hover {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.quote {
    color: white;
    font-size: 24px;
}

.down-arrow {
    position: absolute;
    bottom: 20px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 48px;
    left: 0;
    right: 0;
}

.down-arrow:hover {
    color: rgba(0, 0, 0, 0.9);
}