#footer {
    margin: 0;
    padding: 25px;
    height: 200px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.footer-heading {
    font-size: 32px;
}

.follow-links a {
    color: white;
}

.follow-links a:hover {
    opacity: 0.5;
}

.bottom-text {
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    margin-top: 20px;
}