<div class="container">
    <div class="page">
        <div class="page-heading">
            Projects
            <hr class="page-hr">
        </div>
        <div class="page-section">
            <p>
                I have been experimenting in the field of Computer Science for a long time now and have built various small-scale projects during my learning process. The list below comprises of some of the good projects that I have worked on over these years. I hope
                to increase this list in the upcoming years and add better and more useful projects that can be used by anyone in this world.
            </p>
        </div>
    </div>
</div>