<div class="container">
    <div class="page">
        <div class="page-heading">
            Projects
            <hr class="page-hr">
        </div>
        <div class="page-section">
            <p>
                I have worked on various domains in the field of Computer Science in the past few years and have built several small-scale to large-scale projects. Here is a small list of them:
            </p>
        </div>
        <div class="page-section">
            <div class="page-section-heading">
                ID Card Reader
                <small><i>(ongoing)</i></small>
            </div>
            <div class="page-section-content">
                <p>
                    I am currently working on developing an application that can read text from an ID Card correctly label it using k-NN algorithm. Am using OpenCV for Python to extract the text regions from the ID Card. I will then store a map of text regions and labels
                    (of several photos) which will be used by the k-NN algorithm to predict the label of the text in any new image.
                </p>
            </div>
        </div>
        <div class="page-section">
            <div class="page-section-heading">
                Whiteboard
                <small><i>(ongoing)</i></small>
            </div>
            <div class="page-section-content">
                <p>
                    Working on a desktop application that allows multiple users to work on a shared folder simultaneously. The application allows users to share folders and files (as read-only or with write access) over a local network (session). Users can connect to the
                    session and start viewing the directory as well as make changes (if given permission). The application would also allow for real-time viewing of code as it is typed in an inbuilt text-editor.
                </p>
                <div class="page-section-subheading">
                    <p>
                        <b>Tools/Frameworks used: Electron, Angular, socket.io</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="page-section-heading">
                Online Judge
            </div>
            <div class="page-section-content">
                <p>
                    Developed a website similar to Hackerrank and CodeChef using Django (python web framework) and MySQL databases. The application allows users to register accounts, login and maintain their profile. Any user can submit a problem and solve any number of
                    problems in over 10+ languages. The backend python script can execute code in more than 10+ languages and can even handle concurrent submissions.
                </p>
                <div class="page-section-subheading">
                    <p>
                        <b>Tools/Frameworks used: Django, MySQL databases (backend)</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>