<div class="container">
    <div class="page">
        <div class="page-heading">
            Work Experience
            <hr class="page-hr">
        </div>
        <div class="page-section">
            <div class="page-section-heading">
                <div class="col-sm-8 col-xs-8">
                    Software Developer <br> <small>Savemonk, Bangalore</small>
                </div>
                <div class="col-sm-4 col-xs-4 text-right">
                    <small>May 2017 - July 2017</small>
                </div>
            </div>
            <div class="page-section-content">
                <p>
                    Savemonk is an online affliate advertising company that gives cashback to users who shop on e
                </p>
            </div>
        </div>
    </div>
</div>